/* CSS Document */

#register a{
	font-size:20px;
}
#register{
	width:auto;
	margin:0px auto 0 auto;
	padding:10px 0px 15px 0px;
}
#register h2{
	text-align:center;
	color:#909;
	font-size:35px;
}
#register table{
	width:auto;
	padding:3px;
	margin:10px auto 10px auto;
}
#register table td{
	width:auto;
	height:auto;
}
#register .register_error{
	text-align:left;
	width:auto;
	margin:0px 5px 0px 5px;
	padding:2px;
	font-size:16px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #600;
}
#register .register_error strong {
	color:#F00;
}
#register .submit{
	text-align: center;
	font-size: 25px;
	border: 1px solid #628118;
	padding:0px;
	color:#63C;
	margin:2px auto 5px auto;
}
#register form{
	width:600px;
	background-color:#E7DEF3;
	margin:5px auto 0px auto;
	padding:15px 0px 0px 0px;
	text-align: center;
	border: 2px solid #BBC1F9;
}
#register form .agreement{
	color:#399;
	padding:4px;
	margin:0px auto 10px auto;
}
#register table tr{
	height:35px;
	margin:5px 0px 5px 0px;
	padding:2px 0px 2px 0px;
}
#register table th{
	font-size:18px;
	width:100px;
	text-align:left;
	color:#679BF1;
}
#register table input{
	width:300px;
	font-size:18px;
	margin:2px 0px 2px 10px;
	padding:2px;
	height:24px;
	background-color:#FCEBFE;
	border: 1px dashed #AB5821;
}
#register .close{
	width:300px;
	margin:30px auto 30px auto;
	padding:40px;
	color:#F00;
	background-color:#F2DBF4;
	text-align:center;
	font-size:25px;
	border: 2px solid #CBFCF5;	
}

#register .succefull{
	width:auto;
	max-width:400px;
	min-width:250px;
	height:auto;
	padding:5px;
	margin:20px auto 20px auto;
	background-color:#ECF9EC;
	border: 2px solid #69C462;
}
#register .succefull ul{
	margin:10px;
	list-style-type:none;
}
#register .succefull li{
	margin:20px auto 5px 30px;
	padding:5px;
}

.err_notice{
	color:#F00;
	text-align:left;
}