/* CSS Document */

#safe-widget {
	font-size:18px;
	margin:15px 15px 15px -250px;
	width:220px;
	float:left;
}
#safe-widget ul{
	list-style-type:none;
	margin:10px;
}
#safe-widget li{
	margin-top:10px;
	margin-bottom:10px;
	padding:5px;
	background-color:#F2B7C5;
	border: 2px solid #770606;
}

#safe-widget .active{
	margin-top:20px;
	padding:5px;
	background-color:#ACEFFD;
	border: 2px solid #770606;
}

#safe{
	 overflow:hidden;
	 padding-left:250px;
}
#safe .safe-page{
	border: 1px solid #1B633F;
	background-color:#DFD5EE;
	width:100%;
	margin:20px 15px 15px -250px;
	float:right;
	padding:20px 0px 20px 0px;
}

#check_index p{
	padding:8px;
	margin:3px;
	background-color:#DDD3FC;
	color:#906;
	font-size:17px;
}

#active {
	margin:5px;
}
#active p{
	margin:2px 10px 5px 10px;
	font-size:16px;
	color:#63C;
}
#active table{
	margin:8px;
}
#active table th{
	color:#036;
	font-size:16px;
}
#active table td{
	color:#990;
	font-size:16px;
	padding:5px;
}
#active .act{
	font-size:18px;
	font-weight: bold;
	border: 1px solid #003;
	padding:5px;
}

#edit_email table{
	margin:5px auto 20px auto;
	padding:2px;
}

#edit_email th{
	font-size:18px;
	color:#099;
	text-align:right;
}
#edit_email td{
	font-size:19px;
	color:#933;
	text-align:left;
}
#edit_email input{
	width:220px;
	height:24px;
	font-size:18px;
	margin:2px 0px 2px 10px;
	padding:2px;
	background-color:#FCEBFE;
	border: 1px dashed #AB5821;
}
#edit_email #status{
	font-size:14px;
	text-align:center;
	color:#F00;
}
#edit_email button{
	font-size:18px;
	background-color:#DFEDD3;
	border:1px solid #D3C8FB;
	padding:2px;
	color:#C03;
}
#edit_email .submit{
	margin-left:25px;
}
#edit_password h2{
	text-align:center;
	font-size:24px;
	color:#582E92;
	margin-bottom:15px;
}
#edit_password table{
	width:400px;
	margin:0px auto 0px auto;
}
#edit_password table th{
	font-size:15px;
	color:#966;
	width:100px;
}
#edit_password input {
	width:220px;
	height:24px;
	font-size:18px;
	margin:2px 0px 2px 10px;
	padding:2px;
	background-color:#FCEBFE;
	border: 1px dashed #AB5821;	
}
#edit_password .submit{
	border:1px solid #0C9;
	background-color:#E8E8FF;
	color:#339;
	font-size:16px;
	margin-top:10px;
	padding:5px;
}
#edit_password p{
	font-size:18px;
	color:blue;
	text-align:center;
}

#edit_password .error{
	font-size:15px;
	color:#F00;
	border:1px dotted #000;
	background-color:#FFFEFD;
	padding:3px;
}
#edit_password .notic_error{
	color:#F00;	
}
#edit_password .table_notice{
	font-size:14px;
	color:#06F;
	border:1px solid #990;
	padding:3px;
	text-align:center;
}